# Ignore everything under data (runtime/state) by default
data/**

# Allow traversing directories so we can selectively unignore YAML
!data/**/

# Unignore all YAML/YML config & blueprints
!data/**/*.yaml
!data/**/*.yml


.env

# Editor / OS files
*.swp
.DS_Store

noip.conf